{% extends 'user/base.html' %}

{% block title %}

<title>Home Page | Register</title>

{% endblock title %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-3">
            {{ message }}
          </div>
      {% endfor %}
  {% endif %}
{% endwith %}

<h2>Register</h2>
<hr>
<form action="" method="POST">

  {{ form.hidden_tag() }}
  <div class="row form-group">
    {{ form.name.label(class="col-xs-12 col-lg-4 col-md-4 col-sm-12") }}
    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
      {% if form.name.errors %}
          {{ form.name(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.name.errors %}
                  <span> {{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
        {{ form.name(class="form-control" )}}
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    {{ form.username.label(class="col-xs-12 col-lg-4 col-md-4 col-sm-12") }}
    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
      {% if form.username.errors %}
          {{ form.username(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.username.errors %}
                  <span> {{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
        {{ form.username(class="form-control" )}}
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    {{ form.email.label(class="col-xs-12 col-lg-4 col-md-4 col-sm-12") }}
    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
      {% if form.email.errors %}
          {{ form.email(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.email.errors %}
                  <span> {{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
        {{ form.email(class="form-control" )}}
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    {{ form.password.label(class="col-xs-12 col-lg-4 col-md-4 col-sm-12") }}
    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
      {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.password.errors %}
                  <span> {{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
        {{ form.password(class="form-control" )}}
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    {{ form.confirm_password.label(class="col-xs-12 col-lg-4 col-md-4 col-sm-12") }}
    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
      {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                  <span> {{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
        {{ form.confirm_password(class="form-control" )}}
      {% endif %}
    </div>
  </div>

  <div class="form-group text-right">
     {{ form.submit(class="btn btn-outline-info") }}
  </div>

</form>

{% endblock content %}
